<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<!--    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">-->
    <meta charset="utf-8">

    <title>Ben Ahnen</title>
	
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css"> 

  </head>
  <body>

    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
			   <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="experiences.html">Experience</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    </section>

  <main>
    <!-- *************************************
      Jumbotron Section
    -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1>Ben Ahnen</h1>
		</br>
        <h3> Projects <h3>
      </div>
    </div>


	<!-- *************************************
	Project Info
	-->
	<div class="container"> 
	<h3></h3>
	<p></p>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen" target="_blank">View Full Repository</a>
	</div>
	
	<div>
	</br>
	</div>
	<div>
	</br>
	</div>

	 <h3> St. Paul to Minneapolis Traffic Analysis - 2022</h3>
	<p>In this project, I analyzed west bound traffic data between St. Paul and Minneappolis, looking at what weather patterns contributed to the amount of traffic.</p>
	<p>Situation: St. Paul to Minneapolis west bound traffic from 2012 until 2018.</p>
	<p>Data: This project will use data that is publicly available from the UCI Machine repository website. I downloaded data from the specified time period and loaded it into R. The CSV files contain data pertaining to the date the traffic was captured.</p>
	<p>Question: I wanted to explore and answer, “Does certain weather types or time of the year cause traffic levels to increase or decrease?”</p>
	<p>Hypothesis: I suspect that weather types will have some impact on the average traffic, however I believe clear skies will have the highest average traffic volume because more people will want to be outside and traveling.</p>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen/Comp-Stat-Final" target="_blank">View Project Repository</a>
	</div>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/Comp Stat Report.pdf" target="_blank">View Project Report</a>
	</div>


	<div>
	</br>
	</div>

	<h3> Supply Chain Crisis: Reddit Analysis - 2022</h3>
	<p>In this project, my team and I analyzed reddit threads pertaining to the supply chain crisis, looking to see how the public perceived the lasting impacts of the crisis.</p>
	<p>Situation: Reddit posts pertaining to the supply chain crisis from November 2021.</p>
	<p>Data: This project will use data that is webscraped from reddit. We downloaded data from the specified time period and loaded it into R. The CSV files contain data pertaining to the date the reddit threads were posted.</p>
	<p>Question: we wanted to explore and answer, “How are reddit users feeling about the supply chain crisis?”</p>
	<p>Hypothesis: We suspect that individuals will largely have a negative outlook due to the holiday season coming up and people worrying about ordering/receiving their gifts on time.</p>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen/Social-Analytics-Final-Project" target="_blank">View Project Repository</a>
	</div>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/Social Analytics Presentation.pdf" target="_blank">View Project Report</a>
	</div>

	<div>
	</br>
	</div>
	  
	<h3> Liquor Sales In The State of Iowa Post Spring 2020  - 2021</h3>
	<p>In this project, my team and I analyzed how the COVID-19 pandemic impacted liquor sales in the state of Iowa. Our preliminary research showed that liquor sales had increased by nearly 40% at the beginning of the pandemic, but we wanted to see what was specifically driving that increase.</p>
	<p>Situation: Iowa liquor sales from the beginning of 2019 until 2021, provided by the state of Iowa</p>
	<p>Data: This project uses data that is publically available from the data.iowa.gov website. We downloaded data from teh specified time period and loaded it into SQL and Tableau.</p>
	<p>Question: Our group would like to explore and answer multiple questions: 1) What is the size and make up of Iowa's liquor retial market? 2) Who are the largest liquor vendors in the state by sales? 3) Which retailors have the strongest market position? 4) Which liquor products are the most popular? 5) Which regions purchase the most liquor? </p>
	<p>Hypothesis: We suspect that various grocery stores will be the largest sellers of liquor. Our initial thought would be that the Des Moines metro would have the largest sales volume by region due to having the largest population, however because they are not home to any of the state universities we believe that could cause our hypothesis to fail.</p>

	 <div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen/Data-Management-Final-Project" target="_blank">View Project Repository</a>
	</div> 
	  
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/Data Management Final Project.pdf" target="_blank">View Project Report</a>
	</div>
	
	<div>
	</br>
	</div>
	
	<h3> How Do Iowans Purchase Liquor - 2020</h3>
	<p>In this project, my team and I created an analysis of how, when, and where Iowans buy liquor.</p>
	<p>Situation: Iowa liquor sales from the beginning of 2019 until 2021.</p>
	<p>Data: Due to the size of the file, only a subset of the data is included in the repository. This project uses data that is publicly available from the data.iowa.gov website. We downloaded data from the specified time period and loaded it into R. The CSV files contain data pertaining to the date the liquor was sold, regional information on the sale, quantity sold, and total sales amount in dollars from January 2019 until 2021.</p>
	<p>Question: Our group would like to explore and answer, “Did the pandemic cause liquor sales to increase or decrease?”</p>
	<p>Hypothesis: We suspect that there will be a large increase in the sale of liquor prior to the initial closing of businesses due to public hysteria. However, once the public realizes that the pandemic is here to stay, we expect there to be increased liquor sales overall</p>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen/R-Programming-Final-Presentation-Deck" target="_blank">View Project Repository</a>
	</div>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/R Programming Final Presentation Deck.pdf" target="_blank">View Project Report</a>
	</div>


	<div>
	</br>
	</div>
	
	<h3> Hidden Statistics in College Football - 2020</h3>
	<p>In this project, my team and I compared the 2019 college football season by region and conference to see which areas of the country were most dominate.</p>
	<p>Situation: 2019 college football season.</p>
	<p>Data: This project uses data that is publicly available from the Kaggle, Sports Reference, and the US Census Bureau. We downloaded data from the 2019 college football season and loaded it into R. The CSV file contains data pertaining to the 2019 season, delineated by teams. Within R we further broke down the data by conference and region data through data manipulation.</p>
	<p>Question: Our group would like to explore and answer, “Are the south and SEC really the best region and conference in college football?”</p>
	<p>Hypothesis: We suspect that the south and SEC will be up there for the top region and conference but believe the midwest and Big 10 will be close, if not better.</p>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen/Data-Wrangling-Project" target="_blank">View Project Repository</a>
	</div>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/Data Wrangling Final Project Report.pdf" target="_blank">View Project Report</a>
	</div>


	<div>
	</br>
	</div>

	<h3> Video Game Data Analysis - 2019</h3>
	<p>In this project, my team and I compared historic video game sales data to see if what genre of game sold the best, as well as if platform or critic score impacted these results.</p>
	<p>Situation: Historic video game sales.</p>
	<p>Data: This project uses data that is publicly available from the Kaggle. We downloaded historic video game sales data and loaded it into Python. The CSV file contains historical video game data such as sales, platform, and critic score. We were able to manipulate the data to get summary statistics of the data</p>
	<p>Question: Our group would like to explore and answer, “What video game genre sold the best?”</p>
	<p>Hypothesis: We suspect that shooter games will sell the best due to the franchise success of both Call of Duty and Grand Theft Auto.</p>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen/Computational-Thinking-Project" target="_blank">View Project Repository</a>
	</div>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/Video Game Data Analysis.pdf" target="_blank">View Project Report</a>
	</div>


	<div>
	</br>
	</div>
	
	<h3> AT&T - Time Warner Merger Deck - 2019</h3>
	<p>In this deck, my team and I analyzed the 2016 AT&T and Time Warner merger.</p>
	<p>Situation: 2016 AT&T and Time Warner Merger.</p>
	<p>Data: This project uses various publically available data and articles to analyze the information and formulate a conclusion on the merger and the stance our hypothetical political candidate should take.</p>
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="https://github.com/bahnen/BCAP-Deck" target="_blank">View Project Repository</a>
	</div>
	
	<div class="col-md-4">
	</br>
	<a class="btn btn-primary gold" href="../static/documents/AT&T and Time Warner Merger.pdf" target="_blank">View Project Report</a>
	</div>


	<div>
	</br>
	</div>
 
	</div>
	
	
  </main>



  <!-- *************************************
    Footer Section
  -->
  <footer class="footer">
    <h5> Get in touch </h5>
    <ul>
	  <a href="mailto:ahnenbenjamin@gmail.com"><li>Email</li></a>
	  <li class="customclass"> | </li>
	  <a  href="https://github.com/bahnen"><li>GitHub</li></a>
	  <li class="customclass"> | </li>
	  <a  href="https://linkedin.com/in/ben-ahnen-534200158/"><li>LinkedIn</li></a>
    </ul>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


  </body>
</html>
